*{
    margin: 16px;
}

body{
    background-color: cornflowerblue;
    color: whitesmoke;
    font-size: 20px;
    font-family: Tahoma;
}

input{
    width: 200px;
    height: 40px;
    background-color: black;
    color: whitesmoke;
}

button{
    width: 120px;
    height: 40px;
    color: whitesmoke;
    font-size: 20px;
    font-family: Tahoma;
    background-color: black;
}

.res{
    font-size: large;
    color: whitesmoke;
}